__pycache__/
*.pyc
*.dataset
*.msvc-tmp

# Evitar que o OneDrive trave o Git ao mudar de branch
[Dd]esktop.ini
$RECYCLE.BIN/
.DS_Store

# Garantir que o pipeline precise ser executado para gerar os dados
data/bronze/
data/silver/

.venv/
venv/