__pycache__/
*.pyc
*.dataset
*.msvc-tmp

# Ignora caches locais do Power BI / Analysis Services
*.cache.abf

# Evitar que o OneDrive trave o Git ao mudar de branch
[Dd]esktop.ini
$RECYCLE.BIN/
.DS_Store

# Ignora dados brutos e intermediários
data/bronze/
data/silver/

# NÃO ignorar a camada gold, para que o Power BI abra com dados
!data/gold/

.venv/
venv/